html,
body {
    background-color: aliceblue;
}

header {
    font: 100;
    font-family: fantasy;
}

canvas {
    display: block;
}

#p5-container {
    font: 200;
    position: absolute;
}

#p5-canvas {
    z-index: -1;
}

.title-text {
    position: absolute;
}